@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
body{
    margin: 0;
    background: #009578;
}
nav ul{
    list-style-type:none;
}
nav{
    background-color: rgb(45, 45, 45);
    color: white;
    height: 50px;
    display:flex;
    align-items: center;
    font-family: 'Roboto Condensed', sans-serif;
    padding:0 12px;
    font-size: 30px;    
    letter-spacing: 2px;
}
#app{
    display: grid;
    grid-template-columns: repeat(auto-fill,200px);
    padding: 24px;
    gap: 24px;
}
.note{
    height: 200px;
    box-sizing: border-box;
    padding: 16px;
    border: none;
    border-radius: 10px;
    box-shadow: 4px 0px 7px rgba(0,0,0,0.15);
    font-family: 'Roboto', sans-serif;
    resize: none;
    font-size: 16px;


}
.add-note{
    height: 200px;
    border: none;
    outline: none;
    background: rgba(0,0,0,0.1);
    border-radius: 10px;
    font-size: 90px;
    cursor: pointer;
    color: rgba(0,0,0,0.6);
    transition: background 0.2s;

}
.add-note:hover{
    background: rgba(0,0,0,0.2);
}